#  Project 
COMPOSE_PROJECT_NAME=pixelism

# Database (Supabase / PostgreSQL) 
# DB_USER format for Supabase pooler: postgres.<project-ref>
DB_HOST= #
DB_PORT= #
DB_NAME= #
DB_USER= # 
DB_PASSWORD=+Y #

# Redis 
REDIS_PASSWORD= #

# JWT 
JWT_SECRET= #
JWT_ACCESS_EXPIRATION=900000 #
JWT_REFRESH_EXPIRATION=604800000 #

APP_COOKIE_SECURE=false #

# OTP 
OTP_EXPIRATION=300 #
OTP_LENGTH=6 #

# Mail
MAIL_USERNAME= #
MAIL_PASSWORD= #

# ML Service
ML_SERVICE_URL=http://localhost:8000

# OAuth2 
CLIENT_ID_GOOGLE= #
CLIENT_SECRET_GOOGLE= #
CLIENT_ID_GITHUB= #
CLIENT_SECRET_GITHUB= #

# Cloudinary
CLOUDINARY_CLOUD_NAME= #
CLOUDINARY_API_KEY= #
CLOUDINARY_API_SECRET= #

# URLs 
FRONTEND_REDIRECT_URI=http://localhost:3000 #
OAUTH2_REDIRECT_BASE_URI=http://localhost:8080 #
API_URL=/api/v1 #
BACKEND_INTERNAL_URL=http://shop-backend:8080/api/v1
BACKEND_URL=http://localhost:8080

# Logging
LOG_SHOW_SQL=true
LOG_FORMAT_SQL=true
LOG_LEVEL_SECURITY=DEBUG
LOG_LEVEL_WEB=DEBUG
LOG_LEVEL_HIBERNATE=DEBUG
LOG_LEVEL_APP=DEBUG
LOG_LEVEL_APP_USER=DEBUG

# Hugging face
HF_TOKEN=
HF_REPO_ID=minh1billion/pixelart-classification #

# Images
ML_SERVICE_IMAGE=ml-service:latest
FRONTEND_IMAGE=shop-frontend:latest
BACKEND_IMAGE=shop-backend:latest